In [1]:
from py2neo import Graph, Node, Relationship, cypher
import pandas as pd
import numpy

In [2]:
newLinksFile = 'mgmt1.csv'
graph = Graph()

In [3]:
newLinks = pd.read_csv(newLinksFile, delimiter=',')
print(newLinks.columns)

Index(['din', 'cin', 'startdate', 'enddate'], dtype='object')

In [4]:
newLinks.head()

        din                    cin   startdate enddate
0  00006755  U28910PN2007PTC131007  2007-11-20       -
1  02559409  U74900WB2014PTC201980  2016-11-11       -
2  01645731  U74899DL1998PLC093329  1998-04-20       -
3  00037571  U70101MH1997PTC109823  2011-06-10       -
4  00211074  U67190KA2012PTC063050  2012-03-15       -

In [5]:
# checking which companies exist in the database 
companiesNotInDatabase = []
count = 0 
query = "match (n:company) where n.cin = '{}' return n.name"
for i,cin in enumerate(newLinks['cin']):
    data = graph.data(query.format(cin))
    if len(data) == 0:
        count += 1
        companiesNotInDatabase.append(newLinks.iloc[i][1])
        print('CIN', newLinks.iloc[i][1])

CIN F03989
CIN F01756
CIN F02969
CIN F01756
CIN F01756
CIN F02969
CIN F01756
CIN F01756
CIN F01756
CIN F01756
CIN F01756
CIN F01756
CIN F01756
CIN F03190
CIN F02969
CIN F04070
CIN F02969
CIN F03801
CIN F04070
CIN F03190
CIN F02969
CIN F03295
CIN F03989
CIN F01756

In [6]:
print('Total number of  links to be added = {}'.format(newLinks.shape[0]))
print('Total relations in which companies are not in database : ',len(companiesNotInDatabase))
uniqueCompanies = list(set(companiesNotInDatabase))
print('Distinct companies to be added to database : ', len(uniqueCompanies))

Total number of  links to be added = 230250
Total relations in which companies are not in database :  24
Distinct companies to be added to database :  7

In [7]:
df = pd.DataFrame({'cin':uniqueCompanies})
df.to_csv('companiesNotInDatabase.csv')

In [8]:
# getting max relation ID 
maxRelIdQuery = 'match () -[r]-> () return max(r.relid)'
result = graph.data(maxRelIdQuery)

In [9]:
maxRelId = result[0]['max(r.relid)']

In [10]:
print(maxRelId)

497106

In [11]:
import calendar
import time
import json
checkBusinessperson = "match (b:businessperson) where b.din = '{}' return b"
checkCompany = "match (c:company) where c.cin = '{}' return c"
linkQuery = "match (b:businessperson), (c:company) where b.din='{}' and c.cin='{}' merge (b)-[r:worksin]-> (c) on create set r= {{props}} return r.relid as x"
checkQuery = "match (b:businessperson) -[r:worksin]-> (c:company) where b.din = '{}' and c.cin = '{}' return r"
removeQuery = "match (b:businessperson) -[r:worksin]-> (c:company) where b.din='{}' and c.cin='{}' and r.relid > {} delete r"
newLinks['din'] = newLinks['din'].apply(lambda x: str(x).zfill(8))
relId = maxRelId + 1
c = 0
for i in range(newLinks.shape[0]):
    res = graph.data(checkQuery.format(newLinks.iloc[i]['din'], newLinks.iloc[i]['cin']))
    if len(res) > 0:
        #print(i,'Already Exists')
        c += 1
        continue
    params = {}
    props = {}
    props['relid'] = relId
    props['designation'] = 'Director'
    props['bidirectional'] = 'false'
    props['startdate'] = str(calendar.timegm(time.strptime(newLinks.iloc[i]['startdate'], '%Y-%m-%d')))
    if newLinks.iloc[i]['enddate'] == '-':
        props['iscurrent'] = 'true'
        props['enddate'] = '0'
    else:
        props['iscurrent'] = 'false'
        props['enddate'] = str(calendar.timegm(time.strptime(newLinks.iloc[i]['enddate'], '%d/%m/%Y')))
    params['props'] = props
    res = graph.data(checkBusinessperson.format(newLinks.iloc[i]['din']))
    if len(res) == 0:
        print(newLinks.iloc[i]['din'] , ' business person does not exist')
        continue
    res = graph.data(checkCompany.format(newLinks.iloc[i]['cin']))
    if len(res) == 0:
        print(newLinks.iloc[i]['cin'] , ' company does not exist')
        continue
    #print(graph.data(removeQuery.format(newLinks.iloc[i][1], newLinks.iloc[i][2], maxRelId)))
    res = graph.data(linkQuery.format(newLinks.iloc[i]['din'], newLinks.iloc[i]['cin']), params)
    if len(res) > 0:
        relId += 1
print(c)

F03989  company does not exist
F01756  company does not exist
F02969  company does not exist
F01756  company does not exist
F01756  company does not exist
F02969  company does not exist
F01756  company does not exist
F01756  company does not exist
F01756  company does not exist
F01756  company does not exist
F01756  company does not exist
F01756  company does not exist
F01756  company does not exist
F03190  company does not exist
F02969  company does not exist
F04070  company does not exist
F02969  company does not exist
F03801  company does not exist
F04070  company does not exist
F03190  company does not exist
F02969  company does not exist
F03295  company does not exist
F03989  company does not exist
F01756  company does not exist
122020

In [12]:
print('Already existing relations ', c)
print('Total relations to push ', newLinks.shape[0])

Already existing relations  122020
Total relations to push  230250

In [13]:
# getting max relation ID 
maxRelIdQuery = 'match () -[r]-> () return max(r.relid)'
maxRelIdAfterPush = graph.data(maxRelIdQuery)[0].get('max(r.relid)')
print('Relations pushed = ', maxRelIdAfterPush - maxRelId)

Relations pushed =  108206

In [14]:
checkQuery = 'match (n:businessperson) -[r:worksin] -> (c) where r.relid = {} return n.name, c.name'
for i in range(maxRelId+1, maxRelId+101):
    print(i, graph.data(checkQuery.format(i)))

497107 [{'n.name': 'SHIVAJI TUKARAM AKHADE', 'c.name': 'VIMAL EXTRUSIONS PRIVATE LIMITED'}]
497108 [{'n.name': 'SANDIP KUMAR SINGH', 'c.name': 'FLYTECH CREATIONS PRIVATE LIMITED'}]
497109 [{'n.name': 'MANISH VIMALKUMAR JAIN', 'c.name': 'TRISMA CONSTRUCTIONS PRIVATE LIMITED'}]
497110 [{'n.name': 'SUBBA RAO TELIDEVARA', 'c.name': 'LOTUSPOOL CAPITAL ADVISORS PRIVATE LIMITED'}]
497111 [{'n.name': 'VIKAS BAJAJ', 'c.name': 'ASSOCIATION OF INDIAN FORGING INDUSTRY'}]
497112 [{'n.name': 'RAMA MURTHY BOLLINA', 'c.name': 'GRM PROJECTS & CONSTRUCTIONS PRIVATE LIMITED'}]
497113 [{'n.name': 'LEENA VIPUL MODI', 'c.name': 'JIMEET DEVELOPERS PRIVATE LIMITED'}]
497114 [{'n.name': 'KIRTI KUMAR DOSHI', 'c.name': 'DOSHI CONSULTANTS PRIVATE LIMITED'}]
497115 [{'n.name': 'ADABALA SRIDHAR', 'c.name': 'SRI SRINIVASA AQUA FEEDS PRIVATE LIMITED'}]
497116 [{'n.name': 'PRADEEP KUMAR JINDAL', 'c.name': 'TRUE FAB ENGINEERS PRIVATE LIMITED'}]
497117 [{'n.name': 'NARINDERPAL ROSHANLAL GUPTA', 'c.name': 'HOUSING PROJECTS AND REALTY DEVELOPERS PRIVATE LIMITED'}]
497118 [{'n.name': 'KRISHNA KUMAR BANGUR', 'c.name': 'BCC MERCANTILE LIMITED'}]
497119 [{'n.name': 'BISHWANATH SHUKLA', 'c.name': 'GREEN INFRA WIND VENTURES LIMITED'}]
497120 [{'n.name': 'SHIPRA KUMAR', 'c.name': 'THE INDIAN TEXTILES COMPANY (KOLKATA) PRIVATE LIMITED'}]
497121 [{'n.name': 'PRONOY BHATTACHARYA', 'c.name': 'P.K. BIO-LINK PRIVATE LIMITED'}]
497122 [{'n.name': 'ANOOPCHAND TARACHAND BOTHRA', 'c.name': 'KESHRI GEMS EXPORTS PRIVATE LIMITED'}]
497123 [{'n.name': 'SOUVIK DAS', 'c.name': 'BISWANATH TIE UP PRIVATE LIMITED'}]
497124 [{'n.name': 'PRATAP SINGH TALESARA', 'c.name': 'TEMPSENS INSTRUMENTS (INDIA) PRIVATE LIMITED'}]
497125 [{'n.name': 'VIJAY KUMAR MAISTRY', 'c.name': 'TEJA NATURAL RESOURCES PRIVATE LIMITED'}]
497126 [{'n.name': 'SAMRISH BHANJA', 'c.name': 'FIDESSA TRADING SYSTEMS PRIVATE LIMITED'}]
497127 [{'n.name': 'MAHENDRA KUMAR BHOLAN YADAV', 'c.name': 'ORBIT EVOLVE DEVELOPVERS PRIVATE LIMITED'}]
497128 [{'n.name': 'NILESH JAIN', 'c.name': 'N BABULAL AND COMPANY PVT LTD'}]
497129 [{'n.name': 'UMESH PRAVINCHANDRA PAREKH', 'c.name': 'BELAZIO REAL ESTATE PRIVATE LIMITED'}]
497130 [{'n.name': 'PARIMAL AJMERA', 'c.name': 'SOUTH CITY RETREAT PROPERTY MANAGEMENT PRIVATE LIMITED'}]
497131 [{'n.name': 'SANJAY CHANDRAKANT DESAI', 'c.name': 'MASCO HOME PRODUCTS PRIVATE LIMITED'}]
497132 [{'n.name': 'ATUL JAIN', 'c.name': 'SILVER GLADES INVESTMENTS PRIVATE LIMITED'}]
497133 [{'n.name': 'MANOJ KUMAR SHARMA', 'c.name': 'SHIVMANGAL STOCK MANAGEMENT PRIVATE LIMITED'}]
497134 [{'n.name': 'JATIN JAYANTILAL CHOKSHI', 'c.name': 'SOUTHERN TERMINAL AND TRADING PRIVATE LIMITED'}]
497135 [{'n.name': 'GAURAV GUPTA', 'c.name': 'INVEST KARNATAKA FORUM'}]
497136 [{'n.name': 'BHADERESH JITENDRA JHAVERI', 'c.name': 'JHAVERI SECURITIES LIMITED'}]
497137 [{'n.name': 'HIMANSHU JAYANTBHAI SHAH', 'c.name': 'ERIS LIFESCIENCES LIMITED'}]
497138 [{'n.name': 'SUNNY VARKEY', 'c.name': 'GEMS EDUCATION SOLUTIONS INDIA PRIVATE LIMITED'}]
497139 [{'n.name': 'CHANGAVALLI VENKAT', 'c.name': 'ANDHRA PRADESH BRAHMIN WELFARE CORPORATION'}]
497140 [{'n.name': 'SHIVANI SANIL SAHU', 'c.name': 'VISHWA EXTRUSION PVT LTD'}]
497141 [{'n.name': 'RAJ KUMAR THARAD', 'c.name': 'VIBHAVARI TRADING PRIVATE LIMITED'}]
497142 [{'n.name': 'PAVAN ANIL BAKERI', 'c.name': 'ALGAARI RETAIL VENTURES PRIVATE LIMITED'}]
497143 [{'n.name': 'SUSANTA DOLUI', 'c.name': 'RELAX COMMOSALES PRIVATE LIMITED'}]
497144 [{'n.name': 'KURUPPATH NARAYANAN KUTTY', 'c.name': 'SUGATA INVESTMENTS LIMITED'}]
497145 [{'n.name': 'PAVAN SACHDEVA', 'c.name': 'SCB INFOTECH PRIVATE LIMITED'}]
497146 [{'n.name': 'VEERAVENKATA SATYANARAYANA PINNAMANENI', 'c.name': 'PINNAMANENI HOLDINGS PRIVATE LIMITED'}]
497147 [{'n.name': 'Shri V. Amuthavalli', 'c.name': 'TAMILNADU SALT CORPORATION LIMITED'}]
497148 [{'n.name': 'RAJAGOPALAN RAJAGOPALAN SUBRAMANIAM', 'c.name': 'HSBC INVESTDIRECT FINANCIAL SERVICES (INDIA) LIMITED'}]
497149 [{'n.name': 'SARAVANAN VENKATESAN', 'c.name': 'BUNIYAD MARKETING PRIVATE LIMITED'}]
497150 [{'n.name': 'RADHA RANI MAHESHWARI', 'c.name': 'DIAMOND BUSINESS SOLUTIONS PRIVATE LIMITED'}]
497151 [{'n.name': 'ROHIT GUPTA', 'c.name': 'DOON VALLEY TRUST'}]
497152 [{'n.name': 'SUBHASIS ROY', 'c.name': 'REGUS BUSINESS CENTRE AHMEDABAD PRIVATE LIMITED'}]
497153 [{'n.name': 'SANJEEV AGRAWAL', 'c.name': 'LUMAX BUILDERS PRIVATE LIMITED'}]
497154 [{'n.name': 'KRISHNAMOORTHY VENKATRAMAN', 'c.name': 'CORPORATE CATALYST INDIA PRIVATE LIMITED'}]
497155 [{'n.name': 'VIRENDER KUMAR AGARWAL', 'c.name': 'AGATHA DEVELOPERS PRIVATE LIMITED'}]
497156 [{'n.name': 'KALLURI CHENCHI REDDY', 'c.name': 'RAMKY ENERGY AND ENVIRONMENT LIMITED'}]
497157 [{'n.name': 'MANMOHAN RANJITSINGH MEHTA', 'c.name': 'MANRAJ PROJECTS PRIVATE LIMITED'}]
497158 [{'n.name': 'SHEETAL JAIN', 'c.name': 'ORION BUILDMAT PRIVATE LIMITED'}]
497159 [{'n.name': 'MANOHARAN SAROJA RAJENDRAN', 'c.name': 'NABKISAN FINANCE LIMITED'}]
497160 [{'n.name': 'SHASHI AGGARWAL', 'c.name': "KUMAR'S SPIRITS PRIVATE LIMITED."}]
497161 [{'n.name': 'PARMINDER SINGH JASSAL', 'c.name': 'WELSPUN SOLAR TECH PRIVATE LIMITED'}]
497162 [{'n.name': 'KUSUMANCHI PARAMESWARA RAO', 'c.name': 'RAXA SECURITY SERVICES LIMITED'}]
497163 [{'n.name': 'HEMANT KHANDELWAL', 'c.name': 'NIHO BUILDWELL LIMITED'}]
497164 [{'n.name': 'SMRITI RANKA', 'c.name': 'PRIDE MERCANTILES PRIVATE LIMITED'}]
497165 [{'n.name': 'SAJJADHUSSEIN MOHAMMEDHUSSEIN NATHANI', 'c.name': 'NATHANI ESTATES AND PROPERTIES PRIVATE LIMITED'}]
497166 [{'n.name': 'S R VENKATESAN', 'c.name': 'TATA ADVANCED SYSTEMS LIMITED'}]
497167 [{'n.name': 'AJAY KAPOOR', 'c.name': 'AASARA COLONISERS & DEVELOPERS PRIVATE LIMITED'}]
497168 [{'n.name': 'SUMIT NANDA', 'c.name': 'BURMAN GSC FUND MANAGEMENT PRIVATE LIMITED'}]
497169 [{'n.name': 'RAVISHANKAR KEERTHAPATI RAMARAJU', 'c.name': 'ARCOLAB (INDIA) P.LTD.'}]
497170 [{'n.name': 'SHRAVANI NARSIMHA RAO VUNGARALA', 'c.name': 'RELIGARE WEALTH MANAGEMENT LIMITED'}]
497171 [{'n.name': 'RAVELA SRISATYA LAKSHMI NARSIMHA BHASKARUDU', 'c.name': 'GMR HYDERABAD INTERNATIONAL AIRPORT LIMITED'}]
497172 [{'n.name': 'RAJASEKAR RAMARAJ', 'c.name': 'VILLGRO INNOVATIONS FOUNDATION'}]
497173 [{'n.name': 'ANNIE MEHTA', 'c.name': 'CONSUMMATE PHARMACEUTICALS PRIVATE LIMITED'}]
497174 [{'n.name': 'Shri Jayant Parimal', 'c.name': 'ADANI GREEN ENERGY LIMITED'}]
497175 [{'n.name': 'UMA SHASHIKANT TULSIAN', 'c.name': 'UPTREND SECURITIES PRIVATE LIMITED'}]
497176 [{'n.name': 'RAJESH RAMKALA GUPTA', 'c.name': 'CONCEPT COMMUNICATION LIMITED'}]
497177 [{'n.name': 'DEEPAK SETHI', 'c.name': 'LUDHIANA TALWANDI TOLL ROADS PRIVATE LIMITED'}]
497178 [{'n.name': 'PRACHI SATVIK AGRAWAL', 'c.name': 'SYNERGY COMMODITIES PRIVATE LIMITED'}]
497179 [{'n.name': 'VINOD GARG', 'c.name': 'ALLYIS INDIA PRIVATE LIMITED'}]
497180 [{'n.name': 'DHANANJAY KRISHNAJI JOSHI', 'c.name': 'YEDESHI AURANGABAD TOLLWAY PRIVATE LIMITED'}]
497181 [{'n.name': 'RAGHAV GOEL', 'c.name': 'OM PROCESSORS PRIVATE LIMITED'}]
497182 [{'n.name': 'ABHASH JAIN', 'c.name': 'C P PAPER PRIVATE LIMITED'}]
497183 [{'n.name': 'VICKRAM ANANTRAI DOSSHI', 'c.name': 'ATCOMAART SERVICES LIMITED'}]
497184 [{'n.name': 'GOURINENI VIKRAMADITHYA', 'c.name': 'AMARA RAJA INDUSTRIAL SERVICES PRIVATE LIMITED'}]
497185 [{'n.name': 'GITADEVI BISHWANATH BUBNA', 'c.name': 'BUBNA TRADING COMPANY PRIVATE LIMITED'}]
497186 [{'n.name': 'ANKIT RAJIV SOMANI', 'c.name': 'GANESH AGROFARMS PRIVATE LIMITED'}]
497187 [{'n.name': 'DINESH HIRACHAND MUNOT', 'c.name': 'YELBEN ENGINEERING PRIVATE LIMITED'}]
497188 [{'n.name': 'RAMESH KUMAR RAI', 'c.name': 'KINGDOM EXPORTS INTERNATIONAL PRIVATE LIMITED'}]
497189 [{'n.name': 'RAMSWAROOP RADHESHYAM THARD', 'c.name': 'RAJSHREE POLYPACK PRIVATE LIMITED'}]
497190 [{'n.name': 'SIVAKUMAR PICHAKUPPAN', 'c.name': 'RAJSRIYA AUTOMOTIVE INDUSTRIES PRIVATE LIMITED'}]
497191 [{'n.name': 'SHANTA PATIL DATTATRAY', 'c.name': 'RAJDATT SECURITIES LIMITED'}]
497192 [{'n.name': 'RAJENDRAN AMUDHA', 'c.name': 'SRI GANAPATHY FINLEASE LIMITED'}]
497193 [{'n.name': 'RAJEEV PRABHAKAR PITKAR', 'c.name': 'LAKISHA INFRASTRUCTURE LIMITED'}]
497194 [{'n.name': 'NARESH CHAND', 'c.name': 'LOHMAN MANUFACTURING PRIVATE LIMITED'}]
497195 [{'n.name': 'NISHANT GARODIA', 'c.name': 'STARK STEEL PRIVATE LIMITED'}]

497196 [{'n.name': 'SURESHKUMAR SHASTRY VEMURI', 'c.name': 'INTEGRATED THERMOPLASTICS LIMITED'}]
497197 [{'n.name': 'SEEMA GUPTA', 'c.name': 'R D P FINANCE PRIVATE LIMITED'}]
497198 [{'n.name': 'RAJ KUMAR SHARMA', 'c.name': 'BRIGHTFUL RETAILERS PRIVATE LIMITED'}]
497199 [{'n.name': 'PRADEEP KUMAR GARG', 'c.name': 'ASTHA TRADELINK LIMITED'}]
497200 [{'n.name': 'ANAND AGARWAL', 'c.name': 'HR EXPLORATION PRIVATE LIMITED'}]
497201 [{'n.name': 'YARLAGADDA PADMANABHA PRASAD SRIMANTHRAJA', 'c.name': 'STARSCAPE COMMUNICATIONS PRIVATE LIMITED'}]
497202 [{'n.name': 'VIJAY JAMNOMAL SHEWAKRAMANI', 'c.name': 'R P HOTELS AND RESTAURANTS PVT LTD'}]
497203 [{'n.name': 'SHARAT CHANDRA BOLUSANI', 'c.name': 'ADVANTA LIMITED'}]
497204 [{'n.name': 'SANDEEP KOHLI', 'c.name': 'THE INDIAN SOCIETY OF ADVERTISERS'}]
497205 [{'n.name': 'HARI SHANKAR BHARTIA', 'c.name': 'JUBILANT OFFSHORE PRIVATE LIMITED'}]
497206 [{'n.name': 'SMITA JAIN', 'c.name': 'LMC ENTERPRISES PRIVATE LIMITED'}]